<div class="d-flex align-items-center mx-3 flex-grow-1">
    <form action="/buscar" method="GET" class="w-100">
        <div class="input-group">
            <input type="text" 
                class="form-control" 
                name="q" 
                placeholder="Buscar productos..." 
                aria-label="Buscar productos"
                id="searchInput">
            <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
            </button>
       </div>
    </form>
</div>